<footer class="site-footer">
    <div class="footer-content">
        <p>&copy; 2026 Rex Jonathan Kapoloma, CSE 340 App</p>
    </div>
    
    <%# Assignment 3, Task 3 Link %>
  <p><a href="/inv/broken" title="Will trigger intentional exception">Error Link</a></p>
</footer>