<header class="site-header">
    <div class="logo-container">
        <img src="/images/site/icon.png" alt="CSE Motors Logo">
        <button id="hamburger" aria-label="Menu">☰</button>

    </div>
</header>