<header class="site-header">
  <div class="header-top">
    <div class="logo">
      <img src="/images/site/icon.png" alt="CSE Motors Logo">
    </div>

    <div class="header-right">
      <a href="/my-account" class="account-link">My Account</a>

</header>
