<h1>Add New Classification</h1>

<!-- Flash Messages -->
<% if (messages().length > 0) { %>
  <div id="flash-messages">
    <%- messages() %>
  </div>
<% } %>

<% if (typeof errors !== 'undefined' && errors.length > 0) { %>
  <div class="error-list">
    <ul>
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  </div>
<% } %>


<form action="/inv/add-classification" method="post" id="add-classification-form">
  <label for="classification_name">Classification Name</label>
  <input 
    type="text" 
    id="classification_name" 
    name="classification_name" 
    value="<%= typeof classification_name !== 'undefined' ? classification_name : '' %>" 
    required 
    pattern="^[A-Za-z0-9]+$" 
    title="No spaces or special characters allowed"
  >
  
  <button type="submit">Add Classification</button>
</form>
