<section class="management">
  <h1>Vehicle Management</h1>

  <%- messages() %>

  <div class="management-actions">
    <a class="btn-primary" href="/inv/newClassification">
      Add New Classification
    </a>
    <a class="btn-primary" href="/inv/newVehicle">
      Add New Vehicle
    </a>
  </div>
</section>
