<h1>Vehicle Management</h1>

<!-- Flash Messages -->
<% if (messages().length > 0) { %>
  <div id="flash-messages">
    <%- messages() %>
  </div>
<% } %>

<!-- Management Links -->
<ul class="management-links">
  <li><a href="/inv/add-classification">➕ Add New Classification</a></li>
  <li><a href="/inv/add-inventory">🚗 Add New Inventory</a></li>
</ul>
